<div class="container my-5" th:fragment="content">
    <!--/*@thymesVar id="sortBy" type="java.lang.String"*/-->
    <!--/*@thymesVar id="sortDir" type="java.lang.String"*/-->
    <!--/*@thymesVar id="competitors" type="java.util.List<dev.kalbarczyk.sportsmanager.competitor.model.Competitor>"*/-->


    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Competitors</h1>
        <a class="btn btn-primary add-button" th:href="@{/competitors/new}">
            <i class="bi bi-person-plus-fill"></i> Add Competitor
        </a>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-primary">
                <tr>
                    <th>
                        <a
                                th:href="@{/competitors(sortBy='name', sortDir=${sortBy == 'name' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                            Name
                            <span th:if="${sortBy == 'name'}"
                                  th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                        </a>
                    </th>

                    <th>
                        <a
                                th:href="@{/competitors(sortBy='surname', sortDir=${sortBy == 'surname' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                            Surname
                            <span th:if="${sortBy == 'surname'}"
                                  th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                        </a>
                    </th>

                    <th>
                        <a
                                th:href="@{/competitors(sortBy='country', sortDir=${sortBy == 'country' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                            Country
                            <span th:if="${sortBy == 'country'}"
                                  th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                        </a>
                    </th>

                    <th>
                        <a
                                th:href="@{/competitors(sortBy='discipline', sortDir=${sortBy == 'discipline' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                            Discipline
                            <span th:if="${sortBy == 'discipline'}"
                                  th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                        </a>
                    </th>

                    <th>
                        <a
                                th:href="@{/competitors(sortBy='salary', sortDir=${sortBy == 'salary' and sortDir == 'asc' ? 'desc' : 'asc'})}">
                            Salary
                            <span th:if="${sortBy == 'discipline'}"
                                  th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                        </a>
                    </th>


                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="competitor : ${competitors}">
                    <td th:text="${competitor.name}">Name</td>
                    <td th:text="${competitor.surname}">Surname</td>
                    <td th:text="${competitor.country}">Country</td>
                    <td th:text="${competitor.discipline.label}">Discipline</td>
                    <td th:text="${'$' + #numbers.formatDecimal(competitor.salary, 0, 'COMMA', 2, 'POINT')}"
                        class="text-end">Salary
                    </td>

                    <td>
                        <button class="btn btn-danger btn-sm me-1 delete-button" th:attr="data-id=${competitor.id},
data-entity='competitors'"
                                type="button">
                            <i class="bi bi-trash3"></i>
                        </button>

                        <a class="btn btn-secondary btn-sm me-1"
                           th:href="@{/competitors/{id}/edit(id=${competitor.id})}"
                        >
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a class="btn btn-info btn-sm text-white" th:href="@{/competitors/{id}(id=${competitor.id})}">
                            <i class="bi bi-info-square"></i>
                        </a>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(competitors)}">
                    <td colspan="6" class="text-center">No competitors found.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-4" th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination pagination-rounded">

                    <!-- Previous Page -->
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/competitors(page=${currentPage - 1}, sortBy=${sortBy}, sortDir=${sortDir})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- Page Numbers -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link"
                           th:href="@{/competitors(page=${i}, sortBy=${sortBy}, sortDir=${sortDir})}"
                           th:text="${i + 1}">1</a>
                    </li>

                    <!-- Next Page -->
                    <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/competitors(page=${currentPage + 1}, sortBy=${sortBy}, sortDir=${sortDir})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <div th:replace="~{fragments/delete-modal :: delete-modal}"></div>

</div>