<div th:fragment="content">
    <h1>Sports Manager</h1>
    <p>Your ultimate platform to manage competitors, events, and teams with ease.</p>

    <div class="button-group">
        <a th:href="@{/competitors}" class="button button-primary">
            View Competitors
        </a>

        <a th:href="@{#}" class="button button-secondary">
            Manage Coaches (Coming Soon!)
        </a>

        <a th:href="@{#}" class="button button-secondary">
            Manage Events (Coming Soon!)
        </a>

    </div>
</div>
