<div th:fragment="content" class="container my-5">
    <!--/*@thymesVar id="coach" type="dev.kalbarczyk.sportsmanager.coach.model.Coach"*/-->
    <!--/*@thymesVar id="country" type="java.lang.String"*/-->
    <!--/*@thymesVar id="discipline" type="dev.kalbarczyk.sportsmanager.disciplines.Discipline"*/-->

    <!--/*@thymesVar id="cach" type="dev.kalbarczyk.sportsmanager.coach.model.Coach"*/-->
    <!--/*@thymesVar id="discipline" type="dev.kalbarczyk.sportsmanager.person.enums.Discipline"*/-->

    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="fw-bold text-primary" th:text="${coach.name + ' ' + coach.surname}">Coach Name</h1>
        <a th:href="@{/coaches}" class="btn btn-secondary">
            Back to Coaches
        </a>
    </div>

    <!-- Coach Info -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <p class="mb-2"><strong>Country:</strong>
                <span th:text="${coach.country}">Country</span>
            </p>
            <p class="mb-2"><strong>Discipline:</strong>
                <span th:text="${coach.discipline.label}">Discipline</span>
            </p>
            <p class="mb-0"><strong>Salary:</strong> $<span th:text="${coach.salary}">Salary</span></p>
            <!-- Actions -->
            <div class="d-flex gap-2 mt-3">
                <a class="btn btn-secondary btn-sm me-1"
                   th:href="@{/coaches/{id}/edit(id=${coach.id})}"
                >
                    <i class="bi bi-pencil-square"></i>
                </a>
                <button class="btn btn-danger btn-sm me-1 delete-button" th:attr="data-id=${coach.id},
data-entity='coaches'"
                        type="button">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Competitors Section -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Competitors</h5>

            <div th:if="${#lists.isEmpty(coach.competitors)}">
                <p class="text-muted">No coaches assigned</p>
            </div>

            <ul class="list-group" th:if="${!#lists.isEmpty(coach.competitors)}">

                <li class="list-group-item"
                    th:each="competitor : ${coach.competitors}">
                    <a class="text-decoration-none text-reset" th:href="@{/competitors/{id}(id=${competitor.id})}">
                        <span th:text="${competitor.name + ' ' + competitor.surname}">Competitor Name</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>