<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitor Form</title>
    <link rel="stylesheet" th:href="@{/css/competitors/index.css}">
    <link rel="stylesheet" th:href="@{/css/competitors/form.css}">
</head>
<body>

<div class="container form-container">
    <div class="header-section">
        <h1 th:text="${competitor.id} != null ? 'Edit Competitor' : 'Add New Competitor'">Add/Edit Competitor</h1>
        <a th:href="@{/competitors}" class="button button-secondary">Back to Competitors</a>
    </div>

    <form th:object="${competitor}" th:action="@{${formAction}}" method="post">
        <input type="hidden" name="_method" th:value="${methodOverride}"/>


        <div th:if="${#fields.hasGlobalErrors()}" class="form-group error-message">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
            <p class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" th:field="*{surname}" required>
            <p class="error-message" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</p>
        </div>

        <div class="form-group">
            <label for="country">Country:</label>
            <select id="country" th:field="*{country}" required>
                <option value="">-- Select Country --</option>
                <option th:each="countryName : ${countries}"
                        th:value="${countryName}"
                        th:text="${countryName}">Country Name
                </option>
            </select>
            <p class="error-message" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</p>
        </div>

        <div class="form-group">
            <label for="discipline">Discipline:</label>
            <select id="discipline" th:field="*{discipline}" required>
                <option value="">-- Select Discipline --</option>
                <option th:each="disciplineEnum : ${T(dev.kalbarczyk.sportsmanager.common.enums.Discipline).values()}"
                        th:value="${disciplineEnum.name()}"
                        th:text="${disciplineEnum.label}">Discipline Name
                </option>
            </select>
            <p class="error-message" th:if="${#fields.hasErrors('discipline')}" th:errors="*{discipline}">Discipline
                error</p>

        </div>

        <div class="form-group">
            <label for="salary">Salary(in $):</label>
            <input type="number" id="salary" th:field="*{salary}" required>
            <p class="error-message" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary
                error</p>
        </div>

        <button type="submit" class="button button-success"
                th:text="${competitor.id} != null ? 'Update Competitor' : 'Add Competitor'">
            Add/Update Competitor
        </button>
    </form>
</div>

</body>
</html>
